*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, sans-serif;
}

body{
background:white;
transition:0.4s;
}

header{
background:#00369c;
padding:20px 60px;
display:flex;
justify-content:space-between;
align-items:center;
}

.logo{
height:55px;
}

nav{
display:flex;
align-items:center;
gap:30px;
}

nav a{
color:white;
text-decoration:none;
font-size:18px;
}

#darkBtn{
background:white;
border:none;
padding:8px 12px;
border-radius:8px;
cursor:pointer;
}

.hero{
background:#00369c;
color:white;
display:flex;
justify-content:space-between;
align-items:center;
padding:60px 70px;
gap:40px;
}

.texto{
max-width:500px;
}

.hero h1{
font-size:72px;
line-height:1.05;
margin-bottom:20px;
}

.hero p{
font-size:22px;
margin-bottom:25px;
}

.botones{
display:flex;
gap:15px;
}

button{
padding:15px 28px;
border:none;
border-radius:10px;
cursor:pointer;
font-size:16px;
}

.secundario{
background:transparent;
border:1px solid white;
color:white;
}

.imagen{
display:flex;
justify-content:center;
align-items:center;
}

.imagen img{
width:500px;
max-width:100%;
border-radius:0;
}

.cards{
background:#ececec;
padding:40px;
display:flex;
gap:30px;
justify-content:center;
}

.card{
background:white;
padding:40px;
width:300px;
text-align:center;
border-radius:20px;
font-size:20px;
font-weight:bold;
}

/* MODO OSCURO */

.dark{
background:#121212;
color:white;
}

.dark .cards{
background:#1e1e1e;
}

.dark .card{
background:#2a2a2a;
color:white;
}

.dark header,
.dark .hero{
background:#001f5c;
}
